<h1>Editing <%= @routine.routine_name %></h1>


<%= form_tag routine_url(@routine.id), :method => 'patch' do %>
  <%= label_tag :routine_id %>
  <%= text_field_tag :routine_id, @routine.routine_name %>
  <%= submit_tag %>
  <% end %>

<div class = 'row'>
  <% @routine.steps.each do |step|%>
   <%= link_to step.exercise.image, exercise_url(step.exercise) %>
    <%= link_to "Delete?", destroy_step_url(step.id), method: :delete %></div>
  <% end %>


<h2>Add exercise</h2>
  <%= form_tag steps_url, :method => 'post' do %>
    <%= hidden_field_tag :routine_id, @routine.id %>
    <%= label_tag :exercise_id %>
    <%= select_tag :exercise_id, options_from_collection_for_select(Exercise.all, :id, :ex_name) %>
    <%= submit_tag %>
  <% end %>

<%= link_to 'Show', @routine %> |
<%= link_to 'Back', routines_path %>
