<h1><%= current_user.email %> routines</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

   <% @routines.each do |routine| %>
<div class "panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title"><%= link_to routine.routine_name, routine %></h3>
  </div>
  <div class="panel-body">
        <%= link_to 'Edit Routine', edit_routine_path(routine) %> | <%= link_to 'Delete routine', routine, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
        <% end %>

<br>

<h4><%= link_to 'Create a New Routine', new_routine_path %></h4>
