<p id="notice"><%= notice %></p>

<div class = 'jumbotron'>
<p>
  <h1 class = 'routine-head'><strong>Routine name:</strong>
  <%= @routine.routine_name %></h1>

</p>
</div>

<div class = 'row routine'>
  <div class = 'col-md-3'> Exercise </div>

</div>
<div class = 'row'>
  <% @routine.exercises.each do |exercise|%>
    <div class = 'col-md-3'><%= link_to exercise.ex_name, exercise_url %></div>

  <% end %>
</div>


<%= link_to "Add an Exercise", edit_routine_url %>

<br>

<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
