<p id="notice"><%= notice %></p>

<p>
  <strong>Routine name:</strong>
  <%= @routine.routine_name %>
</p>

<% @routine.exercises.each do |exercise|%>
  <%= link_to exercise.ex_name, exercise_url %>
<% end %>


 <%= link_to "Add an Exercise", edit_routine_url %>

<br>

<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
