<h1>Listing logs</h1>
<!-- each routine should click open with javascript and show the exercises and ability to log -->
<table>
  <thead>
    <tr>
      <th>Routine</th>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>

      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.exercise_id %></td>
        <td><%= log.sets %></td>
        <td><%= log.reps %></td>

        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
