<p id="notice"><%= notice %></p>

<p>
  <strong>Routine:</strong>
  <%= @log.routine_id %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @log.exercise_id %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @log.sets %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @log.reps %>
</p>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
