<h1>Listing exercises</h1>

<table>
  <thead>
    <tr>
      <th>Ex name</th>
      <th>Description</th>
      <th>Tip</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.ex_name %></td>
        <td><%= exercise.description %></td>
        <td><%= exercise.tip %></td>
        <td><%= exercise.image %></td>
        <td><%= link_to 'Show', exercise %></td>

        <td>
        <%= form_tag steps_url, :method => 'post' do %>
           <%= hidden_field_tag :exercise_id, exercise.id %>
            <%= label_tag 'Add to routine' %>
            <%= select_tag :routine_id, options_from_collection_for_select(Routine.all, :id, :routine_name) %>
          <%= submit_tag 'Save to routine'%>
          <% end %>
          </td>
         <!-- add if current user = admin code here -->
        <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise', new_exercise_path %>
